*.log

.DS_Store
Thumbs.db

APIKey-预约系统.md

SharedSpace-Booking-System/.idea/
SharedSpace-Booking-System/.vscode/
SharedSpace-Booking-System/target/
SharedSpace-Booking-System/seat-booking-common/target/
SharedSpace-Booking-System/seat-booking-pojo/target/
SharedSpace-Booking-System/seat-booking-server/target/
SharedSpace-Booking-System/settings.xml

shared-space-frontend/node_modules/
shared-space-frontend/dist/
shared-space-frontend/build/
shared-space-frontend/.vscode/
shared-space-frontend/.idea/
shared-space-frontend/npm-debug.log
shared-space-frontend/yarn-error.log